# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.hmap
*.ipa
*.app
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
*.xcarchive

# CocoaPods
Pods/
Podfile.lock

# Environment
.env
.env.local

# OS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE
.vscode/
.idea/

# Dependencies
/Carthage/Build/
